.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  color: #fff;
}

.name {
  font-size: 30px;
  margin-bottom: 10px;
}

.date, .distance, .diametr, .dangeros {
  font-size: 18px;
}

.dangeros {
  color: #e8fd01;
}
