.selection_distance {
  display: flex;
  align-items: center;
}

.selection_distance__item {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.selection_distance__item.active {
  font-weight: 400;
  text-decoration-line: underline;
}
.selection_distance__separator {
  margin-right: 5px;
  background-color: #fff;
  height: 16px;
  width: 1px;
}